################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/_heart_beat_/v15/.suo
/.vs/_heart_beat_/v15/Browse.VC.db
/.vs/_heart_beat_/v15/Browse.VC.opendb
/.vs/slnx.sqlite
